{% extends "template.html" %}
{% block title %}
{% endblock %}

{% block content %}
<h1>Take a picture of your circuit</h1>

<video id="video" autoplay></video>
<button id="snap">Take photo</button>
<canvas class="canvas" id="canvas" width=1024 height=640></canvas>
<button id='upload-button'>Check picture</button>

<div class="nav">
    <!-- Remove nav-take & nav-upload -->
    <a href="/take" class="box nav-take">
        <button class="box nav-take">
            <span>Take an additional picture</span>
        </button>
    </a>

    <a href="/upload" class="box nav-upload">
        <button class="box nav-upload">
            <span>Upload an additional picture</span>
        </button>
    </a>

    <a href="/" class="box nav-home">
        <button class="box nav-home">
            <span class='text'>Home</span>
        </button>
    </a>

    <button class="box nav-help">
        <span class='text'>Help</span>
    </button>
</div>

<script type="module" src="../static/js/take_photo.js"></script>

{% endblock %}