{% extends "template.html" %}
{% block title %}
{% endblock %}

{% block content %}
<h1>Choose your picture</h1>

<form class='form' id='upload-form'>
    <div>
        <input type="file" name="image" id="image" accept="image/*">
        <label for="image"></label>
    </div>
</form>
<button id='upload-button'>Check picture</button>
<canvas class="canvas" id="canvas" width=1024 height=640></canvas>


<div class="nav">
    <!-- Remove nav-take & nav-upload -->
    <a href="/take" class="box nav-take">
        <button class="box nav-take">
            <span>Take an additional picture</span>
        </button>
    </a>

    <a href="/upload" class="box nav-upload">
        <button class="box nav-upload">
            <span>Upload an additional picture</span>
        </button>
    </a>

    <a href="/" class="box nav-home">
        <button class="box nav-home">
            <span class='text'>Home</span>
        </button>
    </a>

    <button class="box nav-help">
        <span class='text'>Help</span>
    </button>
</div>

<script src="../static/js/upload_photo.js"></script>
{% endblock %}